/* ========== GLOBAL ========== */
:root {
  --black: #000;
  --white: #fff;
  --accent: #f97316;
}

body {
  overflow-x: hidden;
}

/* ========== HERO ========== */
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-slide {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.2);
}

.hero-content {
  position: relative;
  z-index: 10;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  color: white;
  animation: fadeUp 1.2s ease forwards;
}


.hero-button {
  margin-top: 3rem;
  padding: 14px 40px;
  border: 2px solid white;
  background: transparent;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.hero-button:hover {
  background: var(--accent);
  border-color: var(--accent);
}

/* ========== ANIMATIONS ========== */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-title {
  font-family: var(--font-bricolage);
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.05;
  max-width: 90%;
  margin: 0 auto;
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-title {
    font-size: 7rem;
  }
}

/* Tablet */
@media (max-width: 1023px) {
  .hero-title {
    font-size: 4.5rem;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .hero-title {
    font-size: 2.8rem;
    line-height: 1.15;
  }
}
